<html ng-app="warshipgirls">
<head>
<meta charset="UTF-8">
<title>战舰少女R - Animation</title>
<script src="js/spine.js"></script>
<script src="js/three.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/WarshipGirlListCtrl.js"></script>
<script src="js/SpineAnimation.js"></script>
</head>
<body ng-controller="WarshipGirlListCtrl as ctrl">

<div class="controls">
  <select ng-model="ctrl.data.shipCard" ng-options="shipCard as ctrl.getShipTitle(shipCard) for shipCard in ctrl.meta.warshipgirls.shipCard" ng-change="ctrl.selectShip()">
  </select>
  <select ng-model="ctrl.data.selectedSkin" ng-options="skinType.name for skinType in ctrl.data.skins" ng-change="ctrl.selectSkin()"></select>
  <select ng-model="ctrl.data.selectedAnimation" ng-options="aniType.name for aniType in ctrl.data.animations" ng-change="ctrl.selectAnimation()"></select>
</div>
</body>
</html>